@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(216, 216, 216);
  font-size:14px;
}

#top-band {
  background-image: url(https://menu-static.gog-statics.com/assets/img/bg.jpg);
  height: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
}
#top-band2 {
  position: fixed;
  height: 5px;

  top: 5px;
  right: 0px;
  left: 0px;
  z-index: 998;
}

.gog-logo {
  width: 34px;
  height: 31px;
  background-color: white;
}

.navbar a {
  color: #ccc;
}

.navbar {
  height: 54px;
  font-size: 14px;
  position: fixed;
  top: 5px;
  right: 0px;
  left: 0px;
  z-index: 999;
}

nav i {
  color: #ccc;
  font-size: 12px;
}

nav i::after {
  content: " 0";
}

.carousel-control-icon-new {
  font-size: 40px;
  color: rgb(97, 97, 97);
}

.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
  background-color: gray;
}

 .card {min-width:100px;
margin-bottom:5px;
 
}

div.first-row  .card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
div.first-row .card-body {
  height: 20vh;
  font-size: 12px;
}
div.first-row .card-body h5 .badge {
  background-color: purple;
}

div.first-row  .card-body i {
  font-size: 10px;
  color: gray;
}

div.divider a:link {
  color: purple;
}

.vertical { 
  border-left: 1px solid rgb(194, 191, 191); 
  height:40px; 
  position:absolute; 
  left: 50%; 
} 

.morta {
  background-image: url(https://karikocagaming.com/wp-content/uploads/2019/08/kar%C4%B1kocagaming-Children-Of-Morta-1024x525.jpg);
  background-size:auto;
  background-position:top right ;

}
div.morta button{ 
  border:solid 1px white;
  color:white;

}
div.tabs ul.nav a.nav-link{
  color:gray
}

div.tabs ul.nav .nav-link:active{
  color:purple;
  border-bottom:solid 1px purple;
}

div.second-row .card{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.show-bg-1{
 
  object-fit: cover;
  background-position: top ;
 
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(43, 41, 41, 0.73)),url('gog assets/tile (31).jpg');
  pointer-events:none;

}

div.second-row button{ 
  border:solid 1px white;
  color:white;

}




.bg-gog {
  background-color: rgb(44, 44, 44);
}
